body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(1,6,14);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0em;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    color: #666;
    margin-top: 0em;
}
.profile {
    width: 60em;
    height: 30em;
    background-color: rgb(10, 21, 41);
    border-radius: 1em;
    margin-top: 2em;
    border :0.2em solid rgb(31, 135, 99);
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    
}
.green{
    color: rgb(31, 135, 99);
    font-size: 4em!important;
    align-self: flex-start;
    margin-left: 2em;
}
.grey
{
    color: rgb(123, 124, 127);
    font-size: 1.5em;
    align-self: flex-start;
    margin-left: 2em;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9em;
    margin-bottom: -5em;

}
.field{
    font-size: 1em;
    margin-right: 1em;
    color:rgb(63, 196, 149);
    background-color: rgb(10, 40, 27);
    border: 0.1em solid rgb(31, 112, 85);
    border-radius: 4em;
    margin-top: 10em;
    
}   
.verification{
    font-size: 1em;
    color: white;
    background-color: rgb(48, 49, 53);
    border: 0.1em solid rgb(126, 129, 137);
    border-radius: 4em;
    margin-right: 1em;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
}
.information{
    font-size: 3em;
    color: white;
    margin-top: -5em;
    text-align: left;
    margin-right: 9em;
    margin-left: 5em;
}
.more-info{
    font-size: 1em;
    color: rgb(123, 124, 127);
    text-align: left;
    margin-right: 8em;
    margin-left: -2.5em;
    margin-bottom: 0em;
    
}
.line{
    width: 60%;
    height: 0.1em;
    background-color: rgb(57, 65, 62);
    margin-top: 2em;
    margin-left: 11em;
}
.stats-container{
    display: flex;
    justify-content: space-around;
    align-items: end;
    background-color: #182c43;
    border-radius: 1em;
    padding: 1.3em;
    width: 60%;
    text-align: center;
    margin-top: 3em;
    margin-left: 11em;
}
.stat-value{
    font-size: 2em;
    color: white;
    margin-bottom: 0.5em;
}
.stat-unit{
    font-size: 1.5em;
    color: rgb(55, 189, 104);
    font-weight: bold;
}
.stat-label{
    font-size: 1em;
    color: rgb(123, 124, 127);
    margin-top: 1em;
}
.stat-value.unique-color{
    color: #8833d8;
}
.card {
    margin-right: 45.5em;
    margin-bottom: 8.5em;
    margin-top: 3em;
}
.icon-wrapper {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,255,180,0.2), transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.875em rgba(0, 255, 180, 0.4);
}
.hexagon {
  width: 6.25em;
  height: 3.5em;
  background: #1f8f6f;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 2em solid #1f8f6f;
}

.hexagon::after {
  top: 100%;
  border-top: 2em solid #1f8f6f;
}
.hexagon {
  box-shadow: 0 0 3em rgba(128, 199, 178, 0.6);
}
.export-certificate {
    margin-top: 3em;
    padding: 0.1em 0.1em;
    background-color: rgb(31, 135, 99);
    color: white;
    border: 0.2em solid rgb(37, 181, 133);
    border-radius: 0.5em;
    font-size: 1em;
    margin-left: 7em;
}