<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="donation1.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

</head>
<body>
    <div class="top">
        <div class="NavigationTab"><a href="home.html">Home</a></div>
        <div class=" NavigationTab"><a href="omni_ingestion.html">Omni- Ingestion AI</a></div>
        <div class=" NavigationTab"><a href="POI.html">Proof of Impact</a></div>
        <div class=" NavigationTab"><a href="volunteer.html">Impact Profile</a></div>
        <div class=" NavigationTab"><a href="donation1.html">Donation</a></div>
    </div>
    <div class="hero-container">
    <h1 class="main-title">Impactful <span class="gradient-text">Donations</span></h1>
    <p class="sub-text">Transparent Giving • Real-Time Tracking • Direct Impact</p>
    </div>
    <div class="main-section">
    <div class="cards">
        <div class="card1">
            <img src="image.png" class="custom-upload" id="drop-zone">
            <div class="card-input">500Rs= 1 Week of Clean Wtwer for 1 family </div>
            <hr class="card-line">
            <p class="live">Live progress tracker</p>
            <input type="range" name="range1" id="range1" class="range">
            <hr class="card-line">
            <div class="Badge">
    <span class="material-symbols-outlined yellow">verified</span>
    <span class="badge-text1">Verified Badge</span>
    <p class="badge-text2">NGO and Volunteer ID </p>
</div>
        </div>
        <div class="card1">
            <img src="image2.png" class="custom-upload" id="drop-zone">
            <div class="card-input">1200rs= Complete Set of School Supplies for 2 kids</div>
            <hr class="card-line">
            <p class="live">Live progress tracker</p>
            <input type="range" name="range2" id="range1" class="range">
            <hr class="card-line">
            <div class="Badge">
    <span class="material-symbols-outlined yellow">verified</span>
    <span class="badge-text1">Verified Badge</span>
    <p class="badge-text2">NGO and Volunteer ID </p>
</div>
        </div>
        <div class="card1">
            <img src="image3.png" class="custom-upload" id="drop-zone">
            <div class="card-input">800rs= Essential Medicines for Community Clinic</div>
            <hr class="card-line">
            <p class="live">Live progress tracker</p>
            <input type="range" name="range3" id="range1" class="range">
            <hr class="card-line">
            <div class="Badge">
    <span class="material-symbols-outlined yellow">verified</span>
    <span class="badge-text1">Verified Badge</span>
    <p class="badge-text2">NGO and Volunteer ID </p>
</div>
</div>
    </div>
    <div class="drop-wrapper">
    <div class="drop-image"><span class="material-symbols-outlined white">photo_camera</span>
    <div style="color: aliceblue;">click or drag Image</div>
    </div>
    <div class="item-description">
        <img src="OIP.jpg" alt="Mens Jacket">
        <div class="title">Men's Winter Jacket</div>
        <hr>
        <div class="condition">Condition tagging</div>
        <div class="rating">
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        </div>
        <div>GOOD CONDITION</div>
        <div>Pocket is present</div>
        
    </div>
    </div>
    <div class="Live-Updates">
        <div class="liveHeading">Recent Success Feed</div>
        <div class="updates">
            <div>--Just now, 5 kits were delivered in Ward 2 thanks to donors like you!!</div>
            <div>--A family recieved new blankets in Ward 7 yesterday!!</div>
        </div>
        <hr>
        <div class="JOURNEY">YOUR JOURNEY</div>
        <div class="update2">You have helped 12 people this month.</div>
        <div class="update2">You have made a real difference!</div>
        
    </div>
</div>

</body>
</html>