<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="evidence.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">
    <div class="top">
        <div class="NavigationTab"><a href="home.html">Home</a></div>
        <div class=" NavigationTab"><a>Omni- Ingestion AI</a></div>
        <div class=" NavigationTab"><a href="POI.html">Proof of Impact</a></div>
        <div class=" NavigationTab"><a>Impact Profile</a></div>
        <div class=" NavigationTab"><a>Donation</a></div>
    </div>
    <h1>Proof of Impact Terminal</h1>
    <p class="head2">Secure, multi-factor verification for field volunteers</h5>
    <div class="check-in">
        <div class="scan-ring">
            <span class="material-symbols-outlined process">approval</span>        </div>
        <p class="text1">Validating Evidence</p>
        <p class="text2">Ensure you are at the designated kitchen location.</p>
        <a href="verified.html" class="processing"><span class="material-symbols-outlined grey">directory_sync</span>  Processing.....</a>
    </div>
    </div>

</body>
</html>