<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='terminal_map.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <div class="top">
        <div class="NavigationTab"><a href="home.html">Home</a></div>
        
        <div class=" NavigationTab"><a href="omni_ingestion.html">Omni- Ingestion AI</a></div>
        <div class=" NavigationTab"><a href="POI.html">Proof of Impact</a></div>
        <div class=" NavigationTab"><a href="volunteer.html">Impact Profile</a></div>
        <div class=" NavigationTab"><a href="donation1.html">Donation</a></div>
    </div>
    <h1>Intelligence Overview</h1>
    <p>AI ENGINE PROCESSING LIVE STREAMS</p>
    <div class="UpperPart">
        <div class="box"> Meals Verified<span class="material-symbols-outlined green">calendar_meal</span><div class="no">1.2M</div></div>
        <div class="box">Active Volunteers<span class="material-symbols-outlined blue">person_raised_hand</span><div class="no">4,821</div></div>
        <div class="box">Live Kitchens<span class="material-symbols-outlined yellow">soup_kitchen</span><div class="no">142</div></div>
        <div class="box">PoI Tokens Minted<span class="material-symbols-outlined purple">token</span><div class="no">89403</div></div>
        <div class="AiIndex">AI TRUST INDEX<div class="no1">98.4%<span class="material-symbols-outlined green">verified_user</span></div></div>
    </div>
<div class="lowerpart">
    <div id="root" style="height: 500px; width: 100%;"></div>
</div> 

<script src="{{ url_for('static', filename='terminal_map.js') }}"></script>
</body>