<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="omni_ingestion.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>
<body>
    <div class="top">
        <div class="NavigationTab"><a href="home.html">Home</a></div>
        <div class=" NavigationTab"><a href="omni_ingestion.html">Omni- Ingestion AI</a></div>
        <div class=" NavigationTab"><a href="POI.html">Proof of Impact</a></div>
        <div class=" NavigationTab"><a href="volunteer.html">Impact Profile</a></div>
        <div class=" NavigationTab"><a href="donation1.html">Donation</a></div>
    </div>
        <h1>Omni-Ingestion Engine</h1>
        <p>Drop raw unstructured field data. Extract actionable intelligence instantly.</p>
        <div class="sbse-main">
        <div class="container-main">
        <div class="container">
        <div class="box1"><span class="material-symbols-outlined">mic</span>Audio Diary</div>
        <div class="box2"><span class="material-symbols-outlined">contract</span>Paper Log (OCR)</div>
        </div>
        <div class="box3"> 
            <span class="material-symbols-outlined blue">media_output</span>
            <div class="report">field_report_z7.wav</div>
            <div class="time">01:24 ● 2.4 MB</div>
            <div class="extract"> Extract Insights > </div>
        </div></div>
        <div class="second-dabba">
            <div class="brain"><span class="material-symbols-outlined green ">network_intel_node</span> AI Structured Output 
                <div class="percent">98.4%</div></div>
                <div class="score">Confidence Score</div>
        <div class="box4">
            <div class="button1"><span class="material-symbols-outlined">
warning
</span> Pending Dashboard Sync</div>
            <div class="button2">Broadcast to Dashboard</div>
           
        </div>
        </div>
        </div>
</body>
</html>