<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='POI.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">
    <div class="top">
    <div class="NavigationTab"><a href="{{ url_for('home') }}">Home</a></div>
    <div class="NavigationTab"><a href="{{ url_for('omni_ingestion') }}">Omni- Ingestion AI</a></div>
    <div class="NavigationTab"><a href="{{ url_for('poi') }}">Proof of Impact</a></div>
    <div class="NavigationTab"><a href="{{ url_for('volunteer') }}">Impact Profile</a></div>
    <div class="NavigationTab"><a href="{{ url_for('donation') }}">Donation</a></div>
</div>
    <h1>Proof of Impact Terminal</h1>
    <p class="head2">Secure, multi-factor verification for field volunteers</h5>
    <div class="check-in">
        <div class="scan-ring">
        <span class="material-symbols-outlined fingerprint">fingerprint</span>
        </div>
        <p class="text1">Ready for Check-in</p>
        <p class="text2">Ensure you are at the designated kitchen location.</p>
        <a href="{{ url_for('evidence') }}"><button class="Initialize_verification">Initialize verification</button></a>
    </div>
    </div>

</body>
</html>
