<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="volunteer.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>Volunteer Reputation</h1>
    <p>Your verifiable impact, backed by zero knowledge proofs.</p>
    
    <div class="profile">
        <div class="info">
        <div class="field"> Level 4 Field Responder</div> 
        <div class="verification"><span class="material-symbols-outlined grey">lock</span>ZK-Verified</div>
        </div>
        <div class="card">
  <div class="icon-wrapper">
    <div class="hexagon">
      <span class="material-symbols-outlined">award_star</span>
    </div>
  </div>
</div>
        <div class="information">Rahul M.</div>
        <div class="more-info"> DID: did:asar:eth:0x71...9A2C</div>
        <div class="line"> </div>
        
        <div class="stats-container">
        <div class="stat-item">
        <span class="stat-value">124</span>
        <span class="stat-unit">h</span>
        <div class="stat-label">Impact Hours</div>
    </div>
    <div class="stat-item">
        <span class="stat-value">8,500</span>
        <div class="stat-label">Meals Delivered</div>
    </div>
    <div class="stat-item">
        <span class="stat-value unique-color">42</span>
        <div class="stat-label">Pol Tokens</div>
    </div>
    
    </div>
    <div class="export-certificate"><span class="material-symbols-outlined">cloud_upload</span>  Export Public Certificate (PDF)</div>

</div>
    </div>   
</div>

</body>
</html>